@import "tailwindcss";

@theme {
  --color-dark: #1b1b1b;
  --color-light: #f5f5f5;
  --color-sabah-blue: #00AEEF;
  --color-sabah-red: #ED1C24;
  --color-sabah-white: #FFFFFF;
  --color-sabah-yellow: #FFF200;
  --color-sabah-green: #00A651;
  --color-sabah-brown: #8C6239;

  --color-primary: var(--color-sabah-blue);
  --color-primary-dark: var(--color-sabah-red);

  --font-sans: 'Inter', ui-sans-serif, system-ui;
}

@layer base {
  body {
    @apply bg-light dark:bg-dark text-dark dark:text-light;
  }
}

html {
  scroll-behavior: smooth;
}
